{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quient Group</title>
    <link
      href="{% static 'website/https://fonts.googleapis.com/css?family=Lato:400' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'website/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'website/fontawesome/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'website/css/templatemo-real-dynamic.css' %}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="tm-container">
      <div class="tm-site-header"></div>
      <!-- tm-site-header -->
      <div class="tm-site-header-overlay">
        <div class="tm-header-stripe ml-auto"></div>
        <div class="tm-header-stripe tm-header-stripe-short ml-auto"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 tm-site-header-left">
              <h1 class="text-uppercase tm-site-name">Quient Group</h1>
              <p class="text-white mb-0 tm-site-desc">
              </p>
            </div>
            <div class="col-lg-8 tm-site-header-right">
              <!--Navbar-->
              <nav class="navbar navbar-expand-lg">
                <!-- Collapse button -->
                <button
                  class="navbar-toggler toggler-example"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="dark-blue-text"
                    ><i class="fas fa-bars text-white"></i
                  ></span>
                </button>
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse tm-nav" id="navbarNav">
                  <!-- Links -->
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link tm-nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link tm-nav-link" href="#"
                        >About <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link tm-nav-link" href="gallery.html"
                        >Gallery</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link tm-nav-link" href="contact.html"
                        >Contact</a
                      >
                    </li>
                  </ul>
                  <!-- Links -->
                </div>
                <!-- Collapsible content -->
              </nav>
              <!--/.Navbar-->
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- container fluid -->
      </div>
      <!-- tm-site-header-overlay -->
      <div class="tm-header-stripe w-100"></div>
    </div>
    <div class="tm-container">
      <div
        class="parallax-window"
        data-parallax="scroll"
        data-image-src="{% static 'website/img/real-dynamic-banner-02.jpg' %}"
      ></div>
    </div>

    <div class="tm-container bg-white">
      <div class="tm-header-stripe w-100"></div>
      <div class="container-fluid">
        <!--Intro-->
        <section class="row tm-mb-1">
          <div class="col-12 text-center mx-auto tm-about-box">
            <h2 class="tm-text-primary tm-my-1 tm-mb-5 tm-intro-text">
              About The Company
            </h2>
            <p>
              Quient training is an enthusiastic group intended to train
              students in colleges that are denied the privilege of Placement
training, A group of Enthusiasts now have a vision of training
students that don’t have access to placement training that can
help them get placed, and thereby build their future.

            </p>
          </div>
        </section>

        <div class="row tm-mb-1">
          <section class="col-lg-6 mb-lg-0 mb-5 tm-company-background-col">
            <div class="tm-company-background">
              <h3 class="tm-text-primary tm-mb-9">Company's Objectives</h3>
              <img
                src="{% static 'website/img/company-background.jpg' %}"
                alt="Company Background Image"
                class="img-fluid tm-mb-3"
              />
              <p class="tm-mb-3">
                 To look for 100% employment for all students. <br>
To recognize the core competencies of the students. <br>
To train the students to meet the expectations of the industry through our Career 
Development Programmes. <br>
To build confidence in students and develop the right attitude in them and
 enhance their communication skills <br>
              </p>
              <p>
                Nam quis dolor vitae metus imperdiet pulvinar ac at mauris. Nam
                lobortis tristique ex, non ullamcorper felis.
              </p>
            </div>
          </section>
          <section class="col-lg-6">
            <h3 class="tm-text-primary tm-mb-5">Our Business Strategy</h3>
            <div class="tm-strategy-box tm-mb-7">
              <i class="fas fa-bullseye fa-4x tm-strategy-icon"></i>
              <p class="tm-strategy-text">
                Nam quis dolor vitae metus imperdiet pulvinar ac at mauris. Nam
                lobortis tristique ex, non ullamcorper felis. Aenean odio massa,
                aliquam id metus sed, dignissim dignissim sem.
              </p>
            </div>
            <div class="tm-strategy-box tm-mb-7">
              <i class="fas fa-business-time fa-4x tm-strategy-icon"></i>
              <p class="tm-strategy-text">
                Sed bibendum sem eget nisi pellentesque varius. Aenean
                condimentum ex nisi, nec sodales dolor faucibus quis. Duis
                turpis mi, iaculis sed varius eu, tristique id magna.
              </p>
            </div>
            <div class="tm-strategy-box tm-mb-7">
              <i class="fas fa-chart-line fa-4x tm-strategy-icon"></i>
              <p class="tm-strategy-text">
                Duis auctor vestibulum enim. Fusce nec dolor rhoncus, egestas
                ligula eu, maximus turpis. Donec rhoncus neque eget est posuere
                posuere.
              </p>
            </div>
          </section>

          <footer class="row">
            <p class="mb-0 w-100 text-center col-12">
              Quient Trainings &copy; 2021
            </p>
          </footer>
          
          <div>
            <a href="https://youtube.com" class="tm-social-link"
              ><i class="fab fa-youtube tm-social-icon"></i
            ></a>
            <a href="https://facebook.com" class="tm-social-link"
              ><i class="fab fa-facebook tm-social-icon"></i
            ></a>
            <a href="https://twitter.com" class="tm-social-link"
              ><i class="fab fa-twitter tm-social-icon"></i
            ></a>
            <a href="https://instagram.com" class="tm-social-link"
              ><i class="fab fa-instagram tm-social-icon"></i
            ></a>
          </div>
      </div>
      <!-- container-fluid -->
    </div>
    <!-- tm-container -->

    <script src="{% static 'website/js/jquery-3.4.1.min.js' %}"></script> 
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'website/js/parallax.min.js' %}"></script> 
    <script src="{% static 'website/js/tooplate-script.js' %}"></script> 
  </body>
</html>
