{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quient Group</title>
    <link
      href="{% static 'website/https://fonts.googleapis.com/css?family=Lato:400' %}"
      rel="stylesheet"
    />
    <!-- https://fonts.google.com/ -->
    <link
      href="{% static 'website/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <!-- https://getbootstrap.com/ -->
    <link
      href="{% static 'website/css/fontawesome/css/all.min.css' %}"
      rel="stylesheet"
    />
    <!-- https://fontawesome.com/ -->
    <link href="{% static 'website/slick/slick.css' %}" rel="stylesheet" />
    <!-- https://kenwheeler.github.io/slick/ -->
    <link
      href="{% static 'website/slick/slick-theme.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'website/css/templatemo-real-dynamic.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="tm-container">
      <div class="tm-site-header"></div>
      <!-- tm-site-header -->
      <div class="tm-site-header-overlay">
        <div class="tm-header-stripe ml-auto"></div>
        <div class="tm-header-stripe tm-header-stripe-short ml-auto"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 tm-site-header-left">
              <h1 class="text-uppercase tm-site-name">Quient Group</h1>
            </div>
            <div class="col-lg-8 tm-site-header-right">
              <!--Navbar-->
              <nav class="navbar navbar-expand-lg">
                <!-- Collapse button -->
                <button
                  class="navbar-toggler toggler-example"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="dark-blue-text"
                    ><i class="fas fa-bars text-white"></i
                  ></span>
                </button>
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse tm-nav" id="navbarNav">
                  <!-- Links -->
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link tm-nav-link" href="#"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link tm-nav-link" href="about.html"
                        >About</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link tm-nav-link" href="gallery.html"
                        >Gallery</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link tm-nav-link" href="contact.html"
                        >Contact</a
                      >
                    </li>
                  </ul>
                  <!-- Links -->
                </div>
                <!-- Collapsible content -->
              </nav>
              <!--/.Navbar-->
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- container fluid -->
      </div>
      <!-- tm-site-header-overlay -->
      <div class="tm-header-stripe w-100"></div>
    </div>
    <div class="tm-container">
      <div
        class="parallax-window"
        data-parallax="scroll"
        data-image-src="{% static 'website/img/real-dynamic-banner-01.jpg' %}"
      ></div>
    </div>

    <div class="tm-container bg-white">
      <div class="tm-header-stripe w-100"></div>
      <div class="container-fluid">
        <!--Intro-->
        <section class="row tm-mb-1">
          <h2
            class="col-12 text-center tm-text-primary tm-my-1 tm-intro-text"
          ></h2>
          <div class="col-lg-4 text-center">
            <div class="tm-box-1">
              <i class="fas fa-truck-moving fa-4x tm-icon-1"></i>
              <h3 class="tm-h3 tm-text-primary">
                Why is Placement training important
              </h3>

              <p>
                Placement training plays a major role in shaping up the career
                goals of students. It is the dream of every engineering student
                to get placed in a top organization visiting their campus for
                recruitment. Keeping this key aspect into consideration, it is
                realized that training is important for engineering students to
                enhance their employability skills and achieve good placement in
                various Industries.
              </p>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="tm-box-1">
              <i class="fas fa-box-open fa-4x tm-icon-1"></i>
              <h3 class="tm-h3 tm-text-primary">Objectives</h3>
              <p>
                To look for 100% employment for all students, To recognize the
                core competencies of the students, To train the students to meet
                the expectations of the industry through our Career Development
                Programmes & To build confidence in students and develop the
                right attitude in them and enhance their communication skills.
              </p>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="tm-box-1">
              <i class="fas fa-people-carry fa-4x tm-icon-1"></i>
              <h3 class="tm-h3 tm-text-primary">Training Activities</h3>
              <p>
                Create awareness about “career planning" and "career mapping"
                among the students, Equip the student with life skills, Train
                the students on “Personality development", Organize Various
                Training Programmes to train the students in the areas of
                Quantitative Aptitude, Logical Reasoning and Verbal reasoning
                through the reputed external training organizations and in-house
                trainers.
              </p>
            </div>
          </div>
        </section>

        <!-- Testimonials -->
        <div class="tm-mb-2">
          <h2 class="text-center tm-text-primary tm-h2-big tm-mb-6">
            Our Happy Customers
          </h2>
          <!-- Carousel -->
          <div class="col-lg-6 mx-auto tm-mb-4">
            <div class="tm-carousel">
              <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">
                  Vivamus vitae condimentum
                </h3>
                <p class="tm-mb-4">
                  Vestibulum condimentum, elit nec tempus suscipit, enim nibh
                  aliquam eros, sit amet iaculis nibh nibh at dolor. Cras
                  imperdiet, dolor posuere dignissim dapibus, tortor arcu
                  pellentesque orci, et mattis libero justo semper neque.
                </p>
                <div class="rating">
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star"></span>
                </div>
              </div>
              <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">
                  Cras imperdiet, dolor posuere
                </h3>
                <p class="tm-mb-4">
                  Elit nec tempus suscipit, enim nibh aliquam eros, sit amet
                  iaculis nibh Vestibulum condimentum, nibh at dolor.Vivamus
                  vitae condimentum dignissim dapibus, tortor arcu pellentesque
                  orci, et mattis libero justo semper neque.
                </p>
                <div class="rating">
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                </div>
              </div>
              <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">
                  Elit nec tempus suscipit
                </h3>
                <p class="tm-mb-4">
                  Cras imperdiet, dolor posuere dignissim dapibus, tortor arcu
                  pellentesque orci, et mattis libero justo semper neque.Vivamus
                  vitae condimentum. Elit nec tempus suscipit, enim nibh aliquam
                  eros, sit amet iaculis nibh nibh at dolor.
                </p>
                <div class="rating">
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star"></span>
                </div>
              </div>
              <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">Tempus suscipit, enim</h3>
                <p class="tm-mb-4">
                  Tortor arcu pellentesque orci, et mattis libero justo semper
                  neque. Vestibulum condimentum, elit nec tempus suscipit, enim
                  nibh aliquam eros, sit amet iaculis nibh nibh at dolor. Cras
                  imperdiet, dolor posuere dignissim dapibus.
                </p>
                <div class="rating">
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star"></span>
                </div>
              </div>
              <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">
                  Dolor posuere dignissim dapibus
                </h3>
                <p class="tm-mb-4">
                  Posuere dignissim dapibus, tortor arcu pellentesque orci, et
                  mattis libero justo semper neque. Vestibulum condimentum, elit
                  nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis
                  nibh nibh at dolor. Vivamus vitae condimentum dolor.
                </p>
                <div class="rating">
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star checked"></span>
                  <span class="star fas fa-star"></span>
                </div>
              </div>
            </div>
          </div>
        </section>
        </div>
        <div>
          
          <a href="https://youtube.com" class="tm-social-link"
            ><i class="fab fa-youtube tm-social-icon"></i
          ></a>
          <a href="https://facebook.com" class="tm-social-link"
            ><i class="fab fa-facebook tm-social-icon"></i
          ></a>
          <a href="https://twitter.com" class="tm-social-link"
            ><i class="fab fa-twitter tm-social-icon"></i
          ></a>
          <a href="https://instagram.com" class="tm-social-link"
            ><i class="fab fa-instagram tm-social-icon"></i
          ></a>
        </div>

        <footer class="row">
          <p class="mb-0 w-100 text-center col-12">
            Quient Trainings &copy; 2021
          </p>
        </footer>

        
      </div>
      <!-- container-fluid -->
    </div>
    <script src="{% static 'website/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/parallax.min.js' %}"></script>
    <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="{% static 'website/slick/slick.min.js' %}"></script>
    <script src="{% static 'website/js/tooplate-script.js' %}"></script>
    <script>
      $(document).ready(function () {
        // Testimonials carousel
        $(".tm-carousel").slick({
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 1,
          slidesToScroll: 1,
        });
      });
    </script>
  </body>
</html>
